<div>
  <h3> Would you like to Edit the Item: {{ item.name }} </h3>
  <form action="{{ url_for('editSportItem', sport_id = sport.id,
      item_id = item.id) }}"
        method='post'>
    <p>Name:</p>
    <input type="text" size="30" name="name" placeholder="{{ item.name }}">
    <p>Desciption:</p>
    <input class="descriptionbox" type="text" size="30" name="description"
        placeholder="{{ item.description }}">
		<p>Category:</p>
		<input type="text" name="sport" list="categories" placeholder={{ sport.name }}>
		<datalist id="categories">
			{% for sport in sports %}
			<option value="{{ sport.name }}">
			{% endfor %}
		</datalist>
    <br>
    <br>
    <input type="submit" value='Edit' class="button">
    <a href="{{ url_for('showSports') }}">
      Cancel
    </a>
  </form>
</div>
