{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div>
    <h2 class="item__title"> {{ item.name }} </h2>
    <h4> Description: </h4>
    <p> {{ item.description }} </p>
    <h4> Sport: </h4>
    <p> {{ sport.name }} </p>
    <a href="{{ url_for('editSportItem', sport_id = sport.id, item_id = item.id) }}">
      Edit
    </a>
    <a href="{{ url_for('deleteSportItem', sport_id = sport.id, item_id = item.id) }}">
      Delete
    </a>
  </div>
</main>
{% endblock %}
