{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="item__container">
    <h2 class="item__title"> {{ item.name }} </h2>
    <p class="item__text"> Description: {{ item.description }} </p>
    <p class="sport__text"> Sport: {{ sport.name }} </p>
    <br>
    <a class="edit__delete__link" href="{{ url_for('editSportItem', sport_id = sport.id, item_id = item.id) }}">
      Edit
    </a> |
    <a class="edit__delete__link" href="{{ url_for('deleteSportItem', sport_id = sport.id, item_id = item.id) }}">
      Delete
    </a>
  </div>
</main>
{% endblock %}
