
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main class="main">
	<div class=flash>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
							<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<section class="categories">
		<h1>Categories</h1>
		{% for sport_id in dSports %}
			<a href="{{ url_for('showSportsItems', sport_id = sport_id) }}">
				{{ dSports[sport_id] }}
			</a>
			<br>
		{% endfor %}
	</section>

	<section class="items">
		<a href="{{ url_for('newSportItem') }}">
			New Item
		</a>
		<h1>Items</h1>
		{% for item in itemsToShow %}
		 	<a href="{{ url_for('showSportItem', sport_id=item.sport_id, item_id=item.id) }}">{{ item.name }} </a>
			<span>{{ "(" + dSports[item.sport_id] + ")" }}</span>
			<br>
		{% endfor %}
	</section>
</main>
{% endblock %}
